h1 {
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  padding: 40px 15px;
  text-align: center;
}

path:hover {
  opacity: 0.3;
}

.rect1 {
  background-color: #00ccff;
}

.rect2 {
  background-color: #0066cc;
}

.rect3 {
  background-color: #003366;
}

.rect4 {
  background-color: #331a33;
}

.rect5 {
  background-color: #ff0000;
}

