h1 {
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  padding: 40px 15px;
  text-align: center;
}

path:hover {
  opacity: 0.3;
}

.rect1 {
  background-color: #0300F5;
}

.rect2 {
  background-color: #295EF6;
}

.rect3 {
  background-color: #59A1F8;
}

.rect4 {
  background-color: #EB4B41;
}

.rect5 {
  background-color: #ff0000;
}

